@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<div class="row">
    <div class="adminButtons">
        <div class="col-xs-2">
            @Html.ActionLink("Product Admin", "ProductIndex", null, new { @class = "btn btn-block btn-success" })
        </div>
        <div class="col-xs-2">
            @Html.ActionLink("Customer Admin", "CustomerIndex", null, new { @class = "btn btn-block btn-info" })
        </div>
        <div class="col-xs-2">
            @Html.ActionLink("Order Admin", "OrderIndex", null, new { @class = "btn btn-block btn-warning" })
        </div>
    </div>
</div>





