@{
    ViewBag.Title = "Home";
}
<div>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Source of images shown here is : http://www.spitzer.caltech.edu/explore/475-Wallpapers  -->
                <div class="fill" style="background-image:url('../../../Content/Img/02 upper amazon.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Upper Amazon Wonders</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../../../Content/Img/22 japan.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Friendly Japan Monkey</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../../../Content/Img/41 holland.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Beautiful Holland</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-xs-12">

                <div id="titles">
                    <div id="titlecontent">

                        <h1>
                            Welcome to Adventure Travels
                        </h1>

                        <h2>
                            Here you find the best offers in the universe
                        </h2>

                        <h2>
                            Products from the most amazing galaxies
                        </h2>

                        <h2>
                            Several customers have already registered and experienced some advantages of having a Constellation Rewards Card
                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
